# Gradle
.gradle/

# Local configuration
local.properties

# Keystore files
*.jks
*.keystore

# Build folder
app/build/

# NDK
app/.cxx/

# IDE
.vscode/
.idea/
*.iml
*.exe
/PCSX2_ARM64
build/reports/problems/problems-report.html
crash.txt
/AetherSX2-main
crash-NEW.txt
